<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>
		<div align="right">
			<input type="button" onclick="location.href='/logout'" value="Logout">
		</div>
		<br/><br/>
		<div align="center">
			<input type="button" onclick="location.href='/admin/profile'" value="View Profile">
			<br/><br/><br/>
			<input type="button" onclick="location.href='/admin/addadmin'" value="Add New Admin">
			<br/><br/><br/>
			<input type="button" onclick="location.href='/admin/view_admin'" value="See All Admin">
			<br/><br/><br/>
			<input type="button" onclick="location.href='/admin/view_customer'" value="See All Customer">
			<br/><br/><br/>
			<input type="button" onclick="location.href='/admin/addbook'" value="Add Book">
		 </div>

</body>
</html>